@import "../core/variables";
@import "../core/mixins";

.quiz {
	height: 75%;
	width: 100%;
	padding: 20px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	&__category {
		color:black;
		font-size: 20px;
		align-self: start;
	}
	&__question {
		width: 80%;
		background: black;
		padding: 20px;
		text-align: center;
	}
	&__answers {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		&--item {
			width: 80%;
			background-color: black;
			padding: 10px;
			text-align: center;
			cursor: pointer;
			margin: 10px;
			&:hover, &.active {
				background-color: goldenrod;
			}
			&.correct {
				animation: correct 1s ease forwards;
			}
			&.wrong {
				animation: wrong 1s ease forwards;
			}
		}
	}
	&__explanation {
		background-color: rgb(126, 124, 124);
		position: absolute;
		top:0;
		width: 100%;
		height: 75%;
		display: flex;
		align-items: center;
		justify-content: center;
		&--info {
			background-color: rgb(22, 21, 21);
			height: 80%;
			width: 80%;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;
			padding: 10px;
		}
	}
}
.hidden {
	display: none;
}
.greenActive {
	animation: correct 1s ease forwards;
}
.redActive {
	animation: wrong 1s ease forwards;
}
.notAllowed {
	pointer-events: none;
}

.endGame {
	background-color: rgba(238, 163, 163, 1);
	position: absolute;
	top:0;
	width: 100%;
	height: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
}