@import "../core/variables";
@import "../core/mixins";

.score {
	height: 25%;
	border: 2px solid black;
	color: yellowgreen;
	&__list {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		&--item {
			font-size: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 5px;
			height: 50%;
			width: 20px;
			border: 1px solid lightgray;
			margin: 3px;
		}
	}
}
.negative {
	background-color:rgb(233, 193, 201);
}
.zero {
	background-color: rgb(196, 194, 194);
}
.positive {
	background-color: rgb(208, 230, 175);
}