@import "../core/variables";
@import "../core/mixins";

.score {
	height: 25%;
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	&__list {
		&--hit {
			height: 40%;
			display: flex;
			clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
		}
		&--fault {
			height: 40%;
			display: flex;
			clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
		}
		&--item {
			height: 100%;
			width: 20px;
			background-color: gainsboro;
			margin: 0 3px;
		}
	}
}
.negative {
	background-color:rgb(233, 193, 201);
}
.zero {
	background-color: rgb(196, 194, 194);
}
.positive {
	background-color: rgb(208, 230, 175);
}