//Mediaqueries
@mixin tablet {
	@media all and (min-width: 768px) {
		@content;
	}
}

@mixin laptop {
	@media all and (min-width: 1024px) {
		@content;
	}
}

@mixin desktop {
	@media all and (min-width: 1440px) {
		@content;
	}
}

@keyframes slideBottom {
	from {
		opacity: 0;
		transform: translate(0vh, 15vh);
	}
	to {
		opacity: 1;
		transform: translate(0vh, 0vh);
	}
}
@keyframes slideTop {
	from {
		opacity: 0;
		transform: translate( 0vh, -15vh);
	}
	to {
		opacity: 1;
		transform: translate(0vh, 0vh);
		
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}
@keyframes correct {
	0%, 60% {
		background-color: $dark;
	}
	60%, 100% {
		background-color: $green;
	}
}

@keyframes wrong {
	0%, 60% {
		background-color: $dark;
	}
	60%, 100% {
		background-color: $red;
	}
}