// fonts
$special: 'Rammetto One', cursive;
$regular: 'Montserrat', sans-serif;
$special: 'Codystar', cursive;
$special: 'Zen Tokyo Zoo', cursive;

// colors
$red: #c8102e;
$blue: #012169;
$white: #ffffff;
$dark: #4b4b4b;
